{{>header}}

<section id="hero">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/img/burgers/{{burgerCarousel.[0].image}}" class="d-block w-100" alt="Burger">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{burgerCarousel.[0].title}}</h5>
                        <p>{{burgerCarousel.[0].description}}</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/img/burgers/{{burgerCarousel.[1].image}}" class="d-block w-100" alt="Burger">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{burgerCarousel.[1].title}}</h5>
                        <p>{{burgerCarousel.[1].description}}</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/burgers/{{burgerCarousel.[2].image}}" class="d-block w-100" alt="Burger">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{burgerCarousel.[2].title}}</h5>
                        <p>{{burgerCarousel.[2].description}}</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

<section class="container">
    <h1 class="p-3 text-center">Welcome to Our Burger Shop</h1>
    {{#if burger.length}}
    <div class="row">
        {{#each burger}}
        <div class="col-3 border m-1">
            <h4 class="text-center">{{this.title}}</h4>
            <figure>
                <img class="w-100 p-2" src="/assets/img/burgers/{{this.image}}" alt="{{this.title}}">
            </figure>
            <p>{{this.description}}</p>          

            <div class="bg-info p-3 d-flex justify-content-between">
                {{#if this.promotion}}
                <span>Promotion: {{this.promotion}}</span>
                {{/if}}
                <span>In Stock: {{this.stock}}</span> 
                <span class="fw-bold">Price: R$ {{this.price}}</span>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>No burgers found!</p>
    {{/if}}
</section>

{{>footer}}